<div class="container">
   
<form>
    <div class="form-group">
      <label>Nombre del Local</label>
      <input type="text" class="form-control"id="nombrePersona" placeholder="nombre de la persona" [(ngModel)]="lugar.nombre" name="nombre">
    </div>

    
    <div class="form-group">
      <label for="formGroupExampleInput2">distancia</label>
      <input type="number" class="form-control" id="formGroupExampleInput2" [(ngModel)]="lugar.distancia" name="distancia">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">cercania</label>
        <input type="number" class="form-control" id="formGroupExampleInput2" [(ngModel)]="lugar.cercania" name="cercania">
      </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Descripcion</label>
        <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="lugar.descripcion" name="descripcion"/>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Suscripcion</label>
        <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="lugar.suscripcion" name="suscripcion">
          <option>Gratuito</option>
          <option>Pago</option>
        </select>
      </div>
      <div class="row ">
          <div class="col-md-6 alineacion">
            <button type="button" class="btn btn-success" (click)="guardarLugar()">Registrar Local</button>
          </div>
      <div class="col-md-6 alineacion">
        <button type="button" class="btn btn-danger" routerLink="../comp2">Cancelar</button>
      </div>
      <br />
      </div>

  </form>
  <br />



</div>

