
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Personas</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a routerLinkActive="active" class="nav-link" routerLink="/comp2">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" class="nav-link" routerLink="/detalle/1">Detalle</a>
      </li>
     
    </ul>

  </div>
</nav>
 







<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

   <br/>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)=" crearAuten()" >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>








<!-- <h1>Google Map</h1>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>   
</agm-map>

<hr/> -->





  <router-outlet> </router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * --> 
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



